<!-- <div id="username-page">
  <div class="username-page-container">
    <h1 class="title">Type your username</h1>
    <form id="usernameForm" name="usernameForm">
      <div class="form-group">
        <input
          type="text"
          id="name"
          placeholder="Username"
          autocomplete="off"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">
          Start Chatting
        </button>
      </div>
    </form>
  </div>
</div>

<div id="chat-page" class="hidden">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Spring WebSocket Chat Demo</h2>
    </div>
    <div class="connecting">Connecting...</div>
    <ul id="messageArea"></ul>
    <form id="messageForm" name="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input
            type="text"
            id="message"
            placeholder="Type a message..."
            autocomplete="off"
            class="form-control"
          />
          <button type="submit" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div> -->

<!-- <div fxFlex>
  <p *ngFor="let m of messages">
    {{ m }}
  </p>
</div>
<div>
  <form fxLayout="row baseline" #messageForm="ngForm">
    <mat-form-field fxFlex>
      <input
        name="message"
        fxFill
        matInput
        #messageCtrl="ngModel"
        [(ngModel)]="message"
        required
      />
      <mat-error fxLayoutAlign="start" *ngIf="messageCtrl.hasError('required')">
        Message body can not be empty.
      </mat-error>
    </mat-form-field>
    <div>
      <button
        mat-button
        mat-icon-button
        type="submit"
        [disabled]="messageForm.invalid || messageForm.pending"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div> -->

<!-- <div id="name-from" class="bg-primary d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="input-group">
          <input
            type="text"
            placeholder="Enter your name"
            id="name-value"
            autofocus
            class="form-control"
          />

          <div class="input-group-append">
            <button class="btn btn-dark" id="login">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="chat-room" class="d-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-3">
          <div class="card-header">
            <h3 id="name-title"></h3>
          </div>
          <div class="card-body">
            <div class="input-group">
              <input
                type="text"
                placeholder="Enter your message "
                id="message-value"
                autofocus
                class="form-control"
              />

              <div class="input-group-append">
                <button class="btn btn-dark" id="send-btn">Send</button>
                <button class="btn btn-dark" id="logout">Logout</button>
              </div>
            </div>

            <div class="table-responsive mt-3">
              <table id="message-container-table"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-12">
      {{ greeting }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="connect">WebSocket connection:</label>
          <button (click)="connect()" class="btn btn-default" type="submit">
            Connect
          </button>
          <button
            (click)="disconnect()"
            class="btn btn-default"
            type="submit"
            disabled="disabled"
          >
            Disconnect
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">What is your name?</label>
          <input
            type="text"
            [(ngModel)]="name"
            class="form-control"
            name="name"
          />
          <br />
        </div>
        <button (click)="sendMessage()" class="btn btn-default" type="submit">
          Send
        </button>
      </form>
    </div>

    <p>{{ greeting }}</p>
  </div>
</div>
<router-outlet></router-outlet>
